<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h2 class="post-heading">Create New Post</h2>
        <form action="/posts" method="post" class="post-form">
            <input type="text" placeholder="Enter your username" name="username" class="input-field">
            <textarea name="content" cols="30" rows="10" placeholder="Write your post" class="textarea-field"></textarea>
            <button class="submit-btn">Submit Post</button>
        </form>
    </div>
</body>
</html>
